.cash-card {
    background-color: #201F24;
    border-radius: 12px;
    padding: 32px;
    height: 220px;
    width: 345px;
}

.calender-img {
    padding: 5px;
    background-color: #28272B;
    height: 80px;
    width: 80px;
    border-radius: 12px;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.tag {
    background-color: #E39AB2;
    padding: 4px 8px 4px 8px;
    width: 110px;
    border-radius: 4px;
    margin-left: 175px;
}