.circle-graph {
    position: relative;
  }
  
  .circle-graph-background {
    fill: none;
    stroke: #3A3A3D; /* Background color */
    stroke-width: 8; /* Adjust the stroke width as needed */
  }
  
  .circle-graph-progress {
    fill: none;
    stroke: #A0D7E7; /* Progress color */
    stroke-width: 8; /* Adjust the stroke width as needed */
    stroke-linecap: round;
    transform: rotate(-90deg); /* Start the progress from the top */
    transform-origin: 50% 50%;
    transition: stroke-dashoffset 0.5s ease; /* Add a transition effect */
  }
  