.input {
    padding: 16px 15px 16px 15px !important;
    border-radius: 12px !important;
    width: 100%;
    border-top: 1px solid #413F4D !important;
    border-left: 1px solid #413F4D !important;
    border-right: 1px solid #413F4D !important;
    border-bottom: 1px solid #413F4D !important;
    color: #A5A5A6 !important;
    background-color: #262529 !important;
}



.css-bz5ng3-MuiInputBase-root-MuiInput-root::before {
    border: none !important;
}